<div class="flex flex-row" style="background-color: #0c0303; height: 100%;">
  <div class="flex flex-col h-full" style="width:250px;">
      <img src="./../../../assets/Person.png" alt="testing">
      <nav class="navbar">
          <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" (click)="goToChildRoute('/staff/staff-dashboard')">Dashboard</a>
          </li>
          <li class="nav-item"> 
              <a class="nav-link" (click)="goToChildRoute('/staff/loan-management')"  
              matTooltip="Define User Roles"
              matTooltipPosition="right"
              aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              Loan Management
              </a>
          </li>     
          
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/settings')">View Targets</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" (click)="goToChildRoute('/staff/staff-report')">View Reports</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" (click)="goToChildRoute('/settings')">Settings</a>
          </li>
          </ul>
      </nav>
  </div>
  <router-outlet></router-outlet>
</div>

