<section>
    <article>
        <div class="timeDate">
          Current Date and Time: {{ currentDateTime }}
        </div>
        <div class="container">
              <div class="form-group">
                <label for="customerID">Choose a Staff Member</label>
                <select formControlName="staffID" id="staffID" class="form-control">
                  <option *ngFor="let staff of staffList" [value]="staff.customerID">{{ staff.firstName }} - {{ staff.lastName }}</option>
                </select>
              </div> 
            <form [formGroup]="staffForm">
                        <ag-grid-angular
                            style="width: 100%; height: 550px"
                            [class]="themeClass"
                            [defaultColDef]="defaultColDef"
                            [rowData]="staffPerformanceList"
                            [columnDefs]="staffCol"
                            (gridSizeChanged)="onGridSizeChange($event)"
                            > </ag-grid-angular>
            </form>
          </div>          
    </article>
</section>



  