<section>
    <nav class="navbar" >
        <img src="./../../../assets/Person.png" alt="testing">
          <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/manager/manager-dashboard')" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/manager/manager-user-role')" #tooltip="matTooltip"
            matTooltip="Define User Roles"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">User Access Control</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/manager/manager-performance')" >Loan Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/manager/manager-performance')"  #tooltip="matTooltip"
            matTooltip="See charts that show performance"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Organization Statistics/Perfomance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/manager/manager-performance')">Risk Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/manager/manager-payroll')"  #tooltip="matTooltip"
            matTooltip="Pay Employees"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Employee Payroll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="manager/loan-applications" #tooltip="matTooltip"
            matTooltip="See Outstanding Clients/Staff and reward them"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Rewards(Clients/Staff)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/manager/manager-report')" >View Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/settings')">Settings</a>
          </li>
        </ul>
      </nav>
    <article>
        <div class="timeDate">
          Current Date and Time: {{ currentDateTime }}
        </div>
        <div class="container">
            <!-- <h2>Select Staff</h2> -->
              <!-- <div class="form-group">
                <label for="customerID">Staff Member</label>
                <select formControlName="staffID" id="staffID" class="form-control">
                  <option *ngFor="let staff of staffList" [value]="staff.customerID">{{ staff.firstName }} - {{ staff.lastName }}</option>
                </select>
              </div> -->
            <form [formGroup]="staffForm">
              <h4>Select Staff</h4>
              <p>Here you will find the statistics of staff members</p>
                        <ag-grid-angular
                            style="width: 100%; height: 550px"
                            [class]="themeClass"
                            [defaultColDef]="defaultColDef"
                            [rowData]="staffPerformanceList"
                            [columnDefs]="staffCol"
                            (gridSizeChanged)="onGridSizeChange($event)"
                            > </ag-grid-angular>
                            
                            
              <!-- <button type="submit" class="btn btn-primary">Assign Role</button> -->
            </form>
          </div>          
    </article>
</section>

  <footer>
    <p>Footer</p>
  </footer>

  