<section>
    <nav class="navbar" >
        <!-- <img src="src\assets\Person.png" alt=""> -->
        <img src="./../../../assets/Person.png" alt="testing">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/staff/staff-dashboard')" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/staff/loan-management')" #tooltip="matTooltip"
            matTooltip="Define User Roles"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Loan Management </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/staff/manager-performance')" >Loan Applications</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/manager/manager-performance')"  #tooltip="matTooltip"
            matTooltip="See charts that show performance"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Organization Statistics/Perfomance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/manager/manager-performance')">Risk Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/client/client-home')"  #tooltip="matTooltip"
            matTooltip="Pay Employees"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Employee Payroll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="manager/loan-applications" #tooltip="matTooltip"
            matTooltip="See Outstanding Clients/Staff and reward them"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">Rewards(Clients/Staff)</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" (click)="goToChildRoute('/staff/staff-report')" >View Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="goToChildRoute('/settings')">Settings</a>
          </li>
          <!-- <li class="nav-item"><a class="nav-link" (click)="goToChildRoute('/loan-applications')" >Home page</a></li>
          <li class="nav-item"><a class="nav-link" href="/loan-applications" >Home</a></li>
          <li><a href="/loan-applications">new</a></li> -->
        </ul>
      </nav>
    <article>
      <div class="alert alert-warning">
        <strong>Warning!</strong> A Customer <b>MUST</b> have <b>ONLY</b> one loan at a time!!.
    </div>
    <div class="timeDate">
      Current Date and Time: {{ currentDateTime }}
    </div>
    <p> Outstanding Loan Perfomers - Clients</p>
      <form [formGroup]="staffForm">
        <div>
          <label>Loan Number:</label>
          <!-- <input type="text"  placeholder="Select Loan Number" name="loanNumber" formControlName=""/><br /><br /> -->
          <select placeholder="Select Loan Number" formControlName="loanNumber" id="loanNumber" name="loanNumber">
            <option *ngFor="let loan of loanNumbers" [value]="loan.loanNumber">{{ loan.loanNumber }} </option>
          </select>
          <button color="accent" type="submit" (click)="schedules(loanNumber)" >Search</button >
        </div>
        
      </form>
      <!-- <button color="accent" type="submit" (click)="schedules(loanNumber)" >Search</button > -->
      <div>
        <!-- <p>{{loanPayment|json}}</p> -->
        <!-- <div class="container">
          <table border="1">
            <tr>
              <th>loanNumber</th>
              <th>principal</th>
              <th>interest</th>
              <th>totalAmount</th>
              <th>balance</th>
              <th>payment_date</th>
              <th>next_payment_date</th>
              <th>Month</th>
            </tr>
            <tr *ngFor="let pay of loanPayment">
              <td>{{pay.loanNumber}}</td>
              <td>{{pay.principal}}</td>
              <td>{{pay.interest}}</td>
              <td>{{pay.totalAmount}}</td>
              <td>{{pay.balance}}</td>
              <td>{{pay.payment_date}}</td>
              <td>{{pay.next_payment_date}}</td>
              <td>{{pay.Month}}</td>
            </tr>
          </table>
        </div> -->
        <!-- new -->
            <div class="container">
            <!-- <div id="myGrid" style="height: 20px; width: 600px" class="ag-theme-quartz"></div> -->
               
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center"> -->
                    <mat-tab label="Loan Payment Schedule"><br>
                        <p>Here you will find the Loan application</p>
                        <ag-grid-angular
                            style="width: 100%; height: 550px"
                            [class]="themeClass"
                            [defaultColDef]="defaultColDef"
                            [rowData]="loanSchedule"
                            [columnDefs]="schedule"
                            (gridSizeChanged)="onGridSizeChange($event)"
                            > </ag-grid-angular>
                    </mat-tab>
                    <mat-tab label="Loan Repayments">Loan Disbursed<br>
                        <p>Here you will find the Loan Disbursment</p>
                        <ag-grid-angular
                            style="width: 100%; height: 550px"
                            [class]="themeClass"
                            [defaultColDef]="defaultColDef"
                            [rowData]="loanPayment"
                            [columnDefs]="payment"
                            (gridSizeChanged)="onGridSizeChange($event)"
                            > </ag-grid-angular>
                    </mat-tab>
                    <mat-tab label="Closed Off Loans">Closed Off Loans<br>
                      <!-- <ag-grid-angular
                        style="width: 100%; height: 550px"
                        [class]="themeClass"
                        [defaultColDef]="defaultColDef"
                        [rowData]="loanClosedList"
                        [columnDefs]="loanClosed"
                        (gridSizeChanged)="onGridSizeChange($event)"
                      > </ag-grid-angular> -->
                    </mat-tab>
                    <mat-tab label="Loan Terms">Loan Terms <br>
                      <!-- <ag-grid-angular
                        style="width: 100%; height: 550px"
                        [class]="themeClass"
                        [defaultColDef]="defaultColDef"
                        [rowData]="loanTerm"
                        [columnDefs]="loanTerms"
                        (gridSizeChanged)="onGridSizeChange($event)"
                      > </ag-grid-angular> -->
                    </mat-tab>
                    <mat-tab label="Loan Collateral">Loan Collateral <br>
                        <p>Here you will find the Loan Collateral</p>
                    </mat-tab>
                    <mat-tab label="Loan Files"><br>
                        <div class="container mt-4">
                            <!-- <h2>Loan Files</h2> -->
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>File Name</th>
                                  <th>Type</th>
                                  <th>Upload Date</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let file of loanFiles">
                                  <td>{{ file.fileName }}</td>
                                  <td>{{ file.fileType }}</td>
                                  <td>{{ file.uploadDate | date }}</td>
                                  <td>
                                    <button class="btn btn-primary" (click)="downloadFile(file)">Download</button>
                                    <button class="btn btn-danger" (click)="deleteFile(file)">Delete</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>                              
                    </mat-tab>
                    <mat-tab label="Loan Comments">Loan Comments/Reminders<br>
                        <div class="loan-comments">                              
                            <!-- Display existing comments -->
                            <div *ngFor="let comment of comments" class="comment">
                              <div class="comment-header">
                                <strong>{{ comment.userName }}</strong>
                                <span class="timestamp">{{ comment.timestamp | date:'short' }}</span>
                              </div>
                              <p>{{ comment.text }}</p>
                            </div>
                          
                            <!-- Add new comment -->
                            <div class="add-comment">
                              <h4>Add a Comment</h4>
                              <textarea [(ngModel)]="newComment.text" rows="3" placeholder="Write your comment..."></textarea>
                              <button (click)="addComment()">Submit</button>
                            </div>
                          </div>
                    </mat-tab>
                </mat-tab-group>
            </div>   
          </div>
    </article>

</section>

  <footer>
    <p>Footer</p>
  </footer>

  